/* Define styles for dark mode */
.darkMode {
    /* Ensure text and background colors adjust for dark mode */
    background-color: #121212;
    color: white;
}

.darkMode button {
  background-color: #333;
  color: #fff;
}
